<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828252791763-vh77tug3i95ralktb5ethssc2m826eju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828252791763-vh77tug3i95ralktb5ethssc2m826eju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828252791763-24kca4kjdboc1ikqjd6bb4qjr2i2q818.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZPl7AL-VjCv6eEtp21QsRpaA0fXHv_Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>828252791763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sellmyarchery</string>
	<key>PROJECT_ID</key>
	<string>sell-my-archery-d93be</string>
	<key>STORAGE_BUCKET</key>
	<string>sell-my-archery-d93be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828252791763:ios:c830ec31b8857efe194526</string>
</dict>
</plist>