<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sell My Archery</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
		<key>NSAppleMusicUsageDescription</key>
	<string>Sell My Archery requires to access apple music media library for item upload.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Sell My Archery requires bluetooth access for Google Ads</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Sell My Archery requires bluetooth access for Google Ads</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Sell My Archery requires to acess calendar to get date.</string>
	<key>NSCameraUsageDescription</key>
	<string>Sell My Archery would like to use your camera to upload your profile photo and item photo.</string>
	<key>NSContactsUsageDescription</key>
	<string>Sell My Archery requires to access contact for sharing posts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sell My Archery requires user location to tag when user upload post.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sell My Archery requires user location to tag when user upload post.</string>
	<key>NSLocationUsageDescription</key>
	<string>Sell My Archery requires user location to tag when user upload post.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sell My Archery requires user location to tag when user upload post.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require access to the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Sell My Archery requires for the map service.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to the photo library to upload your profile photo and item photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to upload your profile photo and item photo.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sell My Archery requires speech recognition for apple.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses tracking data to show you personalized ads.</string>
	
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.sellmyarchary</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-828252791763-ios-c830ec31b8857efe194526</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.828252791763-vh77tug3i95ralktb5ethssc2m826eju</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>000000000000</string>
	<key>FacebookDisplayName</key>
	<string>Sell My Archery</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
    <key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
